{% extends "base.html" %}

{% block content %}
<div class="ms-4 mt-3">
<form  method="POST" action="{{ url_for('extract') }}">
  <div class="mb-3">
      {{ form.product_id.label(class="form-label") }}
      {{ form.product_id(class="form-control-plaintext") }}
  </div>
  <div class="mb-3">
    {{ form.submit(class="btn btn-warning mb-3")}}
  </div>
</div>
</form>
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ ', '.join(errors) }}
    </div>
    {% endfor %}
{% endblock %}

