{% extends "base.html" %}

{% block content %}
Celem aplikacji jest pobieranie danych z serwisu ceneo o danym produkcie.<br>
Po wprowadzeniu id produktu w formularzu produkt zostaje pobrany z serwisu ceneo i zostanie wyświetlony na dedykowanej stronie.<br>
Zastosowane biblioteki:
    <ul>
        <li>Flask</li>
        <li>Bootstrap</li>
        <li>Pandas</li>
        <li>Numpy</li>
        <li>Matplotlib</li>
        <li>WTForms</li>
        <li>BeautifulSoup</li>
        <li>Jinja2</li>
        <li>requests</li>
    </ul>
{% endblock %}

{% block javascript %}
{% endblock %}